@import "style/reset.css";
@import "style/fonts.css";

body {
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 40px;
    size: 100%;
}

h1 {
    font-family: 'BBH Sans Hegarty', sans-serif;
}

.transitions {
    padding: 4px 12px;
    background-color: blue;
    color: white;
    border-radius: 9999px;
    border: none;
    transition: background-color 1000ms ease-out, transform 300ms ease-in-out;
    &:hover {
        background-color: violet;
        cursor: pointer;
        transform: scale(1.1);
    }
}

.animation {
    animation: wolfgang 3000ms ease-in;
}

@keyframes wolfgang {
    0% {
        background-color: red;
        transform: rotate(0deg) translateX(0);
    }
    50% {
        background-color: yellow;
        transform: rotate(90deg) translateX(0);
    }
    100% {
        background-color: green;
        transform: rotate(90deg) translateX(400px);
    }
}

.in-animation {
    width: 100%;
    height: 80vh;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 40px;
    h1{
        animation: slide-in 400ms ease-in-out;
    }
    
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}